* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-wrapper {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.input-wrapper input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.input-wrapper button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  border-top-right-radius: 4px;
}

.input-wrapper button:hover {
  background: #0b7dda;
}

.input-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

/* pagination */
.pagination {
  display: inline-block;
}

.pagination li {
  color: #f1f1f1;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  list-style: none;
}

.pagination li.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination li:hover:not(.active) {
  /* background-color: #ddd; */
  border-radius: 5px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  filter: blur(2px);
}

.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 500px;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 8px;
  overflow: hidden;
}

.modal__header {
  background: orangered;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.modal__main {
  padding: 20px;
}

.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

.close-button:hover {
  color: yellow;
}

.button {
  background: green;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: orange;
}
