* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-wrapper {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.input-wrapper input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.input-wrapper button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  border-top-right-radius: 4px;
}

.input-wrapper button:hover {
  background: #0b7dda;
}

.input-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

/* pagination */
.pagination {
  display: inline-block;
}

.pagination li {
  color: #f1f1f1;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  list-style: none;
}

.pagination li.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination li:hover:not(.active) {
  /* background-color: #ddd; */
  border-radius: 5px;
}
